<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Users</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <a href="/show" class="show">Show the Users Here</a>
  
  <div class="form">
    <h2>Create A User</h2>
    <form action="/create" method="post">
      <input type="text" name="name" id="" placeholder="Enter your username here">
      <input type="email" name="email" id="" placeholder="Enter your email">
      <input type="text" name="image" id="" placeholder="Enter the Image Url">
      <input type="submit" value="Create User">
    </form>
  </div>
</body>
</html>