body
{
	font-family: "Time New Roman";
	font-weight: bold;
}

img
{
	width: 100%;
}

.header
{	background-color: seagreen;
	font-size: 100px;
}
.smallInputBox
{
	width: 95%;
}
.mediumInputBox
{
	width: 150px;
}
.green
{
	color: green;
	font-size: 70px;
}
.vAlign
{
  text-align: center;
}
.btn-square
{
	width: 120px;
	height: 100px;
}

.btn-small-square
{
	width: 50px;
	height: 50px;
}

.element-align-left
{
	float: right;
}
input {
text-align: center;
}
.white-font
{
	color: white;
}